.link-color {
	color: grey;
	cursor: pointer;
}

.link-color:hover {
	color: #3d3d3d;
}

.padding-l {
	padding-left: 30px;
}
.margin-lr {
	margin: 0 10px;
}

.login .container {
	max-width: 700px;
}